/* Base styles for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F96857;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.name {
  font-size: 3.5em;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}

.nav {
  display: flex;
  gap: 50px;
  margin-left: 52%;
}

.nav a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out, opacity 1s ease;
}

.nav a:hover {
  color: black;
  text-decoration-color: #007bff;
}

.hidden {
  transform: translateY(-100%);
}

/* Mobile Navigation Toggle Button */
.menu-toggle {
  display: none; /* Hidden on larger screens */
  background: none;
  border: none;
  font-size: 2em;
  color: #CCCCCC;
  cursor: pointer;
}

@media (max-width: 1024px) {
  /* Adjustments for mobile devices */
  .header {
    padding: 10px 20px;
  }

  .name {
    font-size: 2.8em;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav a {
    display: block;
    padding: 5px;
    font-size: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .nav.active {
    display: flex;
  }
}

@media (max-width: 768px) {

  .header {
    padding: 10px 20px;
  }

  .name {
    font-size: 2.8em;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav a {
    display: block;
    padding: 5px;
    font-size: 10px;
  }

  .menu-toggle {
    display: block;
  }


  .nav.active {
    display: flex;
  }
}

@media (max-width: 480px) {

  .name {
    font-size: 2.2em;
  }

  .header {
    padding: 0px;
  }

  .nav a {
    font-size: 18px;
  }
}
