.body-content {
  height: 100vh; /* Set to full viewport height or desired height */
  background-image: url('../../assets/image200.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s ease; /* Smooth transition for background opacity */
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 90vh; /* Full height of the viewport */
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;

}


.name {
  font-size:1.4em; /* Adjust as needed */

  font-weight: bold;
  color: #CCCCCC;
}

.title {
  font-size: 3.2em; /* Adjust as needed */
  margin:25px 0 0 0; /* Adjust space between name and title */
  color: #CCCCCC;

}

h1, h2 {
  transition: opacity 0.4s ease, transform 0.2s ease;
}

@media (max-width: 1024px) {
  .name {
    font-size: 1.8em; /* Adjust size for tablet or smaller screens */
  }

  .title {
    font-size: 2.5em; /* Reduce title size on medium screens */
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 1.6em; /* Adjust size for tablets */
  }

  .title {
    font-size: 2.2em; /* Further reduce title size for smaller tablets */
  }

  .centered-content {
    height: auto; /* Allow centered content to adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 1.4em; /* Adjust for small mobile screens */
  }

  .title {
    font-size: 1.8em; /* Adjust for smaller screens */
  }

  .body-content {
    background-size: 150%; /* Increase background size for small screens */
  }
}