/* Base Styles */
.body-content {
  height: 100vh;
  background-image: url('../../assets/image200.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Prevent content from touching screen edges */
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;
  max-width: 90%;
  margin: 0 auto;
}

.name {
  font-size: 3vw; /* Scales based on viewport width */
  font-weight: bold;
  color: #CCCCCC;
}

.title {
  font-size: 5vw; /* Scales dynamically */
  margin: 20px 0 0 0;
  color: #CCCCCC;
}

h2, h3 {
  transition: opacity 0.4s ease, transform 0.2s ease;
}

/* Responsive Adjustments */

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .name {
    font-size: 2.5vw; /* Adjust font size for tablets */
  }

  .title {
    font-size: 4vw; /* Adjust title font size */
  }

  .body-content {
    padding: 20px; /* Add padding for smaller screens */
  }
}

/* Small Tablets & Landscape Phones (max-width: 768px) */
@media (max-width: 768px) {
  .name {
    font-size: 1.2em; /* Slightly smaller font size */
  }

  .title {
    font-size: 2.5em; /* Adjust title size */
  }

  .body-content {
    background-size: cover;
    width: 100%;
    height: 1000px; /* Allow content to adapt to content height */
    padding: 10px; /* Add padding to prevent content touching edges */
  }
}

/* Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  .name {
    font-size: 1.1em; /* Fix font size for smaller mobile screens */
  }

  .title {
    font-size: 1.6em; /* Adjust title font size */
  }

  .body-content {
    background-size:cover;
    height: 800px; /* Adjust content height */
    padding: 10px; /* Ensure content is not too close to edges */
  }
}
