/* Base Styles */
.work-experience-home {
  text-align: center;
  margin-top: 120px;
}

.section-heading {
  color: #F96857;
  font-size: 35px;
}

.company {

  font-size: 15px;
}
.timeline {
  padding-top: 60px;
  position: relative;
  max-width: 800px;
  margin: auto;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
  position: relative;
}

.timeline-marker {
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  left: -6.5px;
  top: 5px;
}

.timeline-content {
  padding-left: 30px;
  border-left: 2px solid #007bff;
  font-size: 18px;
  color: #CCCCCC;
}

.work-year {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}

.title {
  font-size: 18px;
  color: #CCCCCC;
}

/* Responsive Adjustments */

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .timeline {
    padding-top: 45px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px; /* Reduced space between items */
  }

  .timeline-marker {
    position: relative;
    margin-bottom: 10px;
  }

  .timeline-content {
    border-left: none;
    padding-left: 0;
    padding-top: 10px;
    max-width: 100%;
  }

  .company {

    font-size: 15px;
  }

  .section-heading {
    font-size: 32px; /* Adjusted section heading size */
  }

  .work-year {
    font-size: 17px; /* Adjusted work year font size */
  }

  .title {
    font-size: 16px; /* Adjusted title font size */
  }

  p {
    font-size: 15px; /* Adjusted paragraph font size */
  }
}

/* Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
  .timeline {
    padding-top: 30px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px; /* Reduced space between items */
  }

  .company {

    font-size: 15px;
  }

  .timeline-marker {
    position: relative;
    margin-bottom: 15px;
  }

  .timeline-content {
    border-left: none;
    padding-left: 0;
    padding-top: 10px;
    max-width: 100%;
  }

  .section-heading {
    font-size: 1.1em; /* Adjusted section heading size */
  }

  .work-year {
    font-size: 18px; /* Reduced font size */
  }

  .title {
    font-size: 16px; /* Adjusted title font size */
  }

  p {
    font-size: 17px; /* Adjusted paragraph font size */
  }
}

/* Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  .timeline {
    padding-top: 30px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px; /* Reduced space between items */
  }

  .timeline-marker {
    position: relative;
    margin-bottom: 10px;
  }

  .timeline-content {
    border-left: none;
    padding-left: 0;
    padding-top: 10px;
    max-width: 90%;
  }

  .section-heading {
    font-size: 1.1em; /* Adjusted section heading size */
  }

  .company {

    font-size: 13px;
  }

  .work-year {
    font-size: 16px; /* Adjusted work year font size */
  }

  .title {
    font-size: 14px; /* Adjusted title font size */
  }

  p {
    font-size: 15px; /* Adjusted paragraph font size */
  }
}
