<!-- work-experience.component.html -->
<div class="work-experience-home">
  <h2 class="section-heading"><i class="fas fa-laptop-code"></i> Work Experience</h2>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let job of workExperience; index as i">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="work-year">{{ job.date }}</div>
        <h5 class="title">{{ job.title }}</h5>
        <h5 class="company">{{ job.company }}, {{ job.location }}</h5>
        <p>{{ job.description }}</p>
      </div>
    </div>
  </div>
</div>
