<!-- work-experience.component.html -->
<div class ="work-experience-home">
  <div class="work-experience-section">
    <h2>Work Experience</h2>
    <div class="work-block" *ngFor="let job of workExperience; index as i">
      <div class="order-symbol">{{ i + 1 }}</div> <!-- Symbol showing order -->
      <div class="details">
        <div class="date">{{ job.date }}</div>
        <h3 class="title">{{ job.title }}</h3>
        <p class="company">{{ job.company }} - {{ job.location }} </p>
        <p class="description">{{ job.description }}</p>
      </div>
    </div>
  </div>
</div>
