
.about-content {
  margin: auto;
}

.about-section {
  display: flex;
  --max-width: 1320px;
  margin: auto;
  transition: opacity 0.2s ease, transform 0.6s ease;
  overflow-x: hidden


}
.about-me {
  flex: 2;
  margin: 50px;
}

.about-me h2 {
  margin: 0;
  font-size: 1.8em;
  color: #F96857;
  text-align: center;
  --text-decoration: underline;
  --text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.about-me p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #CCCCCC;

}

/* Responsive adjustments */
@media (max-width: 768px) {

.about-content{
  background-size: cover;
  width: 100%;

}

  .about-section {
    text-align: center;
    background-size: cover;
    width: 100%;


  }
}

/* Responsive adjustments */
@media (max-width: 480px) {

  .about-content{
    background-size: cover;
    width: 100%;
    height: auto; /* Allow content to adapt to content height */

  }

  .about-me p {
    font-size: 13px;
    line-height: 1.6;
    color: #CCCCCC;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto; /* Allow content to adapt to content height */

  }
}


