<div class="about-content" >

  <div class="about-section" [style.transform]="transform" [style.opacity]="opacity">
    <!-- Left side: Photo -->


    <!-- Right side: Content -->
    <div class="about-me" [style.opacity]="1">
      <h2><i class="fas fa-user-circle"></i> About Me</h2>
      <p>
Hello! I’m a Senior Software Developer with over 5 years of experience in building and optimizing software applications. I hold a Master’s degree in Applied Computer Science from Dalhousie University, where I honed my skills in advanced computing concepts and software engineering principles. </p> <p>My journey in software development has been both challenging and rewarding, allowing me to dive deep into cutting-edge technologies and complex problem-solving.

Throughout my career, I’ve focused on Java and Spring Boot as my primary backend technologies, creating robust, scalable, and secure applications. My expertise in Spring Boot enables me to design and develop microservices that handle large volumes of data while ensuring seamless performance. On the frontend, I am proficient in Angular, where I specialize in building dynamic and interactive user interfaces. I enjoy working with Angular because it allows me to create smooth, responsive, and visually engaging applications that enhance user experience.

My development philosophy centers around writing clean, efficient, and maintainable code. I believe in following best practices, leveraging design patterns, and always staying updated with the latest developments in the industry. </p> <p>Over the years, I’ve been involved in various stages of the software lifecycle, from requirements gathering and analysis to deployment and maintenance. I am comfortable working in agile teams, collaborating with cross-functional colleagues, and tackling both backend and frontend challenges with enthusiasm.

In addition to my technical skills, I am passionate about continuous learning and personal growth. Whether it’s exploring new frameworks, diving into DevOps practices, or refining my leadership abilities, I strive to keep pushing the boundaries of what I can achieve as a developer.

Thank you for visiting my site! If you’d like to discuss technology, collaborate on a project, or just connect, feel free to reach out.
      </p>
    </div>
  </div>

</div>
