.education-section {
  text-align: center;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between each education entry */
  margin-top: 70px;
}

.section-heading {
  color: #F96857;
  font-size: 35px;

}
.education-item {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  gap: 50px; /* Space between year and details */
}

.education-year {
  font-size: 18px;
  font-weight: bold;
  min-width: 150px;
  text-align: right;
  color: #007bff;
  flex-shrink: 0;
}

.education-details {
  text-align: left;
  flex: 1;
}

.education-header {
  display: flex;
  align-items: center;
  gap: 40px; /* Space between date and university */
  color: #CCCCCC;
}

.university {
  font-size: 14px;
  font-weight: bold;
  color: #CCCCCC;
  white-space: nowrap; /* Prevents university name from wrapping */
}

.degree {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  color: rgb(115, 176, 227);
}

p {
  margin-top: 5px;
  color: #CCCCCC;
  line-height: 1.5;
}
