<div class="education-section">
  <h2 class="section-heading">Education</h2>

  <div class="card-container">
    <!-- Masters Card -->
    <div class="education-card">
      <h5 class="card-title">Master of Applied Computer Science</h5>
      <h6 class="card-subtitle">Dalhousie University</h6>
      <p class="card-text">2019 - 2021 (Halifax, Canada)</p>
      <p class="card-text">
        Completed a Master's degree with coursework covering a range of advanced topics in software engineering. Key courses included Advanced Software Development Concepts, Software Development Concepts, Cloud Computing, and Web Development. Gained hands-on experience through the creation of projects, which provided practical exposure to modern software architectures, cloud technologies, and best practices for developing scalable and efficient applications.
    </div>

    <!-- Bachelors Card -->
    <div class="education-card">
      <h5 class="card-title">Bachelor of Technology</h5>
      <h6 class="card-subtitle">Chaitanya Bharathi Institute of Technology</h6>
      <p class="card-text">2013 - 2017 (Hyderabad, India)</p>
      <p class="card-text">
        Pursued a Bachelor's degree with a solid foundation in programming. Key courses included Java, C, C++, Assembly Language, and the fundamentals of software development. Gained hands-on experience through various projects, building a solid understanding of programming concepts, software design principles, and low-level system programming.Acquired a strong foundation in problem-solving and software development methodologies."
      </p>
    </div>
  </div>
</div>
