<div class="education-section">
  <h2 class="section-heading">Education</h2>

  <div class="education-container">
    <!-- Masters -->
    <div class="education-item">
      <div class="education-year">2019 - 2021</div>
      <div class="education-details">
        <h5 class="degree">Master of Applied Computer Science</h5>
        <h5 class="university">Dalhousie University, Halifax, Canada</h5>
        <p>Completed a Master's degree with coursework covering a range of advanced topics in software engineering. Key courses included Advanced Software Development Concepts, Software Development Concepts, Cloud Computing, and Web Development. Gained hands-on experience through the creation of projects, which provided practical exposure to modern software architectures, cloud technologies, and best practices for developing scalable and efficient applications.</p>
      </div>
    </div>

    <!-- Bachelors -->
    <div class="education-item">
      <div class="education-year">2013 - 2017</div>
      <div class="education-details">
        <h5 class="degree">Bachelor of Technology</h5>
        <h5 class="university">Chaitanya Bharathi Institute of Technology, Hyderabad, India</h5>
        <p>Pursued a Bachelor's degree with a solid foundation in programming. Key courses included Java, C, C++, Assembly Language, and the fundamentals of software development. Gained hands-on experience through various projects, building a solid understanding of programming concepts, software design principles, and low-level system programming.Acquired a strong foundation in problem-solving and software development methodologies.</p>
      </div>
    </div>
  </div>
</div>